.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headerDetailContainer {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;

    align-items: center;
}

.headerDetailContainer .backButton {
    border: none;
    background-color: #212121;
    font-size: 1rem;
    color: white;
    padding: 0;
    transition: all 0.1s ease-in-out;

    /* margin-left: 100px; */
    margin-right: 0px;
}

.headerDetailContainer .backButton:hover{
    border-bottom: 1px solid #5156A4;
    scale: 1.02;
}

@media (max-width: 1300px){
    .headerDetailContainer{
        padding-top: 1vh;
    }
}